@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.flex-list li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
}

.heading-tools ul li {
  background: #ebecf0;
  border-radius: 8px;
  padding: 12px;
}

.languages .flex-list li {
  color: #36b37e;
  background: white;
  border-radius: 8px;
  padding: 12px;
}

.dark-blue {
  color: #172b4d;
}

.sea-green {
  color: #36b37e;
}

#logo {
  font-weight: 600;
  font-size: 20px;
}

#hamburger {
  font-size: 20px;
  z-index: 10;
}

#menu {
  display: none;
}

#menu.show {
  display: block;
  background: white;
  width: 100%;
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  height: 90vh;
  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  left: 0;
  border-radius: 0 0 50px 50px;
}

.big-icon {
  font-size: 30px;
}

#menu ul li {
  font-size: 32px;
  font-weight: 600;
  padding: 10px;
}

#headline {
  display: flex;
  flex-direction: column;
  background-image: url(../resource/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 64px 24px;
}

#intro {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.heading {
  min-width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

#headline-description {
  text-align: center;
  align-self: center;
  line-height: 32px;
  font-size: 20px;
  min-width: 327px;
}

.social-handles {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  align-self: center;
  font-size: 25px;
  margin: 58px 0;
  list-style: none;
}

.arrow {
  align-self: center;
  cursor: pointer;
  padding: 8px;
}

/* Projects Section */

#projects {
  padding: 26px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.works {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  border-top: none;
  max-width: 369px;
}

.thumbnail {
  min-height: 222px;
  width: 100%;
  border-radius: 8px;
  background: #ebf0ee;
}

/* ====Project Info Card */
.project-card-bg {
  width: 100%;
  height: 100vh;
  background: #c1c7d0;
  padding: 20px;
  display: grid;
  position: fixed;
  overscroll-behavior: contain;
  overflow: auto;
  z-index: 100;
  left: 0;
  top: 0;
  animation: ease-in-out 1s;
}

.project-card {
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: white;
  align-self: center;
  position: relative;
  min-height: 855px;
  margin: auto;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 1s;
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.languages img {
  align-self: center;
  margin-top: 40px;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.close-project {
  font-size: 25px;
  color: #67798e;
  position: absolute;
  left: 87%;
  top: 4%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.project-card-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
  margin-top: -10px;
}

.project-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: 93%;
  left: 10%;
  right: 10%;
}

.project-button {
  gap: 16px;
}

/* ====Project Info Card end==== */

.work-info {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  background: white;
  border-radius: 8px;
  padding: 16px;
}

.heading-2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  width: 300px;
}

.flex-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  margin: 16px 0 29px 0;
  white-space: nowrap;
}

.button {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  align-self: center;
  display: flex;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition: ease-in-out;
}

.button:active {
  background: #008552;
}

/* About Me Section */
#about {
  background-image: url(../resource/illustration-\ about\ me-\ mobile.png);
  background-repeat: no-repeat;
  background-position: contain;
  padding: 0 24px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#about-text {
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0;
  text-align: center;
  min-width: 351px;
  align-self: center;
}

#tools {
  margin-top: 30px;
  padding: 26px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.languages {
  min-height: 327px;
  min-width: 352px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.languages h4 {
  align-self: center;
  font-size: 24px;
  font-weight: 600;
}

.languages .flex-list {
  margin-top: 70px;
  padding: 0 20px 0;
}

#forms-section {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

#form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
}

#form input,
textarea {
  padding: 15px 16px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  outline: none;
}

#form textarea {
  height: 114px;
  border: 1px solid #60c095;
}

#myEmail {
  font-size: 20px;
  text-align: center;
}

.turn-off {
  display: none;
}

.turn-on {
  display: block;
  color: red;
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

footer {
  display: none;
}

/* Desktop verision Media Queries */
@media only screen and (min-device-width: 768px) {
  header {
    position: absolute;
    align-self: center;
    height: 72px;
  }

  #logo,
  #hamburger {
    display: none;
  }

  #menu {
    display: flex;
    width: 300px;
  }

  #menu-list {
    display: flex;
    width: 100%;
    font-weight: 600;
    justify-content: space-between;
    list-style: none;
  }

  #menu ul li {
    font-size: 15px;
    padding: 0;
  }

  /* Headline Section Desktop */
  #intro {
    padding-top: 160px;
  }

  #intro h1 {
    padding: 40px 0 10px 0;
  }

  .heading h4 br {
    display: none;
  }

  #headline {
    background-image: url(../resource/Header-llustration-desktop.svg);
    background-size: cover;
    background-position: center;
    padding: auto;
    height: 1125px;
  }

  #headline-description {
    max-width: 920px;
    padding-top: 20px;
  }

  /* Projects Section */

  #projects {
    grid-template-columns: repeat(3, auto);
  }

  /* ====Projects Info Desktop==== */
  .project-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 920px;
    max-height: 1083px;
  }

  .close-project {
    align-self: flex-end;
    background: #ebecf0;
    align-items: center;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: #67798e;
    font-size: 20px;
    top: 2%;
    left: 93%;

    /* cursor: pointer; */
  }

  .project-thumbnail {
    padding-top: 50px;
  }

  .heading-tools {
    margin-top: 10px;
  }

  .project-card-bg {
    width: 100%;
    height: 100vh;
    background: rgba(193, 199, 208, 0.5);
    backdrop-filter: blur(8px);
    padding: 122px 0 260px 0;
    position: fixed;
    overflow: auto;
    z-index: 100;
    top: 0;
  }

  .project-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .project-buttons {
    position: inherit;
  }

  .project-button {
    align-self: flex-start;
    margin-top: 20px;
    border-radius: 8px;
  }

  /* ====Projects Info Desktop end==== */

  /* About Section Desktop  */

  #about {
    background-image: url(../resource/illustration\ about\ me\ desktop.svg);
    background-position: top;
    background-size: 105%;
  }

  #about .heading {
    margin-top: 192px;
  }

  #about-text {
    max-width: 920px;
  }

  #tools {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  /* Forms Section Desktop */

  #myEmail,
  #forms-section ul {
    display: none;
  }

  #forms-section {
    display: grid;
    grid-template-columns: 463px 550px;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    background: url(../resource/Desktop\ -\ 4.svg) no-repeat center;
    padding-bottom: 280px;
    padding-top: 100px;
    background-size: cover;
  }

  #form button {
    align-self: flex-start;
  }

  .turn-on {
    font-size: 15px;
  }

  #outro {
    font-size: 30px;
    font-weight: 700;
    text-align: justify;
  }

  /* Footer */
  footer {
    display: flex;
    border-top: 1px #dfe1e6 solid;
    align-items: center;
    justify-content: center;
  }

  footer .social-handles {
    margin: 20px;
  }
}
